/bootstrap/compiled.php
/public/js/lang/*
/public/build
!public/js/lang/.gitkeep
/public/packages/*
/node_modules
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.env.*.php
.env
.DS_Store
Thumbs.db
.env.testing.php
app/_ide_helper.php
app/config/local/app.php
tags
.tags
.react.config.js
.planeat.sublime-workspace
